<ul>
  <li class="left">
    <span><%= f.label :title %></span>
    <%= f.text_field :title, :title => "Recipe Title", :class => "hint" %>
  </li>
  <%= f.fields_for :image do |image_form| %>
    <li class="left">
      <span><%= image_form.label :file %></span>
      <%= image_form.file_field :file %>
    </li>
  <% end %>
  <li class="header">
    <span>Qunatity</span>
    <span>Measure</span>
    <span>Ingredient</span>
    <span>Notes</span>
  </li>
  <%= f.fields_for :ingredients do |ingredient_form| %>
    <li class="fields">
      <span><%= ingredient_form.text_field :quantity, :title => " 1 2 5 table spoons", :class => "hint" %></span>
      <span><%= ingredient_form.text_field :measure, :title => "pound or grams", :class => "hint" %></span>
      <span><%= ingredient_form.text_field :name, :title => "cheese butter", :class => "hint" %></span>
      <span><%= ingredient_form.text_area :notes, :title => " ingredient preperation", :class => "hint" %></span>
      <span><%= ingredient_form.link_to_remove "Remove" %></span>
    </li>
  <% end %>
  <li><%= f.link_to_add "Add", :ingredients %></li>
  <li class="text">
    <span><%=f.label :directions%></span>
    <%= f.text_area :directions %>
  </li>
  <li class="left">
    <span><%= f.label :preperation_time%></span>
    <%= f.text_field :preperation_time, :title => " 15 30 mins", :class => "hint"  %>
  </li>
  <li class="left">
    <span><%= f.label :cooking_time %></span>
    <%= f.text_field :cooking_time, :title => " 15 30 mins", :class => "hint" %>
  </li>

  <li class="left">
    <span><%= f.label :serving_size %></span>
    <%= f.text_field :serving_size, :title => "4 5 8 8.5", :class => "hint" %>
  </li>
  <li class="left">
    <span><%= f.label :cusisine_id %></span>
    <%= f.collection_select(:cuisine_id, Cuisine.all, :id, :name, :prompt => 'Select Cuisine') %>

  </li>

  <li class="text">
    <span><%= f.label :story %></span>
    <%= f.text_area :story %>
  </li>
  <li class="left">
    <span><%= f.label :course %></span>
    <%= f.text_field :course, :title => "Breakfast Dinner", :class => "hint"  %>
  </li>
  <li class="left">
    <span><%= f.label :occasion %></span>
    <%= f.text_field :occasion, :title => "Festival", :class => "hint"  %>
  </li>
  <li>
    <span><%= f.label :favourate %></span>
    <%= f.check_box :favourate %>
  </li>
  <li><%= f.submit "Save Recipie" %></li>
</ul>