<h1>Listing cuisines</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cuisines.each do |cuisine| %>
  <tr>
    <td><%= cuisine.name %></td>
    <td><%= link_to 'Show', cuisine %></td>
    <td><%= link_to 'Edit', edit_cuisine_path(cuisine) %></td>
    <td><%= link_to 'Destroy', cuisine, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cuisine', new_cuisine_path %>
