 
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="reg_form" >
<%= form_for @user, :validate => true, :method => :post do|f| %>
  <ul>
    <li>
      <label>Login:</label>
      <%=f.text_field :login, :maxlength => 20 %>
    </li>
    <li>
      <label>Email: </label>
      <%= f.text_field :email %>
    </li>
    <li>
      <label>Password:</label>
      <%=f.password_field :password %>
    </li>
    <li>
      <label>Password Confirmation: </label>
      <%= f.password_field :confirm_password %>
    </li>
    <li>
    <span><%=f.check_box :confirm_msg %>
     Agreed for terms and conditions
    </li>
    <li>
      <%= f.submit "Create" %>
    </li>
  </ul>      
<% end %>
</div>
